/*GLOBAL*/
* {
    background-color: #000;
    color: #f5f5f7;
    font-family: Arial, Helvetica, sans-serif;
}

.blue {
    color:#76a4d1;
}

.challenge-head {
    color: orange;
    font-weight:bold;
}

.syllogism {
    text-align: center;
}

/*HEADER*/

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color:#001e3c;
    margin: 0;
}

.header h1, h4{
    background-color: inherit;
}

/*MAIN CONTENT AREA*/

.main-content {
    display: flex;
    width: 100%;
}

/*NAVIGATION*/
 
.nav {
    width: 30%;
    border: 1px solid grey;
    color: #818181;
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
}

.nav-header {
    display: flex;
    justify-content: center;
    background: #1d1d1f;
}

.nav-header h3 {
    background-color: inherit;
}

.links-container {
    padding-left: 10px;
}

.links-container ul {
    list-style:decimal;
}

.links-container a {
    text-decoration: none;
    color: #818181;
    font-size: 15px;
}

.links-container li{
    padding-top: 15px;
}

.links-container a:hover {
    color: #f5f5f7;
}

.links-container i {
    padding-left: 5px;
    color:#818181;
}

.dropdown-btn {
    text-decoration: none;
    border: none;
    color:#818181;
    font-size: 20px;
    padding-top: 10px;
    display: block;
    background: none;
    cursor: pointer;
    outline: none;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
}

.dropdown-btn:hover {
    color: #f5f5f7;
    outline: none;
}

.active {
    color: #f5f5f7;
    outline: none;
}

/*MAIN SECTION*/

.main-section-container {
    width: 70%;
    border-top: 1px solid grey;
    padding: 10px 100px 0px 35%;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
}

.main-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
}

.main-section ul {
    list-style:lower-roman;
}

.main-section li {
    padding-top: 5px;
    font-size: 18px;
}

.main-section header {
    display: flex;
    flex-direction: column;
}

.topic {
    font-size: xx-large;
    align-self: center;
}

.main-section header {
    border-bottom: 1px solid grey;
}

.main-section p {
    line-height: 2em;
    font-size: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    padding-top: 5px;
    font-size: large;
    text-align: center;
}

.venn-diagram {
    height: 400px;
    width: 550px;
}






